.composition {
  position: relative;

  &__photo {
      width: 55%;
      // 环绕图片的shadow
      box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
      border-radius: 2px;
      //absolute position
      position: absolute;
      //基准z为10, 下面变成20后就显得被hover的变高了
      z-index: 10;
      transition: all .2s;
      //定义下面的outline不是贴近图片的中间有个offset的距离, 所以变成了框框
      outline-offset: 2rem;

      //absolute的话, 三个图片重叠, 然后分别定义三个图片的位置
      &--p1 {
          left: 0;
          //高一点
          top: -2rem;
      }

      &--p2 {
          //从右开始
          right: 0;
          //低一点
          top: 2rem;
      }

      &--p3 {
          //右边一点低一点
          left: 20%;
          top: 10rem;
      }

      &:hover {
          // hover 过后, outline出现绿框
          outline: 1.5rem solid $color-primary;
          // hover 过后, 图片离人更近, 所以scale变大, 编程之前的1.05倍 y轴低一点
          transform: scale(1.05) translateY(-.5rem);
          // hover 过后, 最上限的阴影变大显得更近一些
          box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
          // hover 过后, z-index变大, 所以到最上面了
          z-index: 20;
      }

  }
  // hover 过后, 没有hover的变成之前0.95倍小, 显得最上面的更大
  &:hover &__photo:not(:hover) {
      transform: scale(.95);
  }
  //composition:hover composition__photo:not(:hover)
}